<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>trangbtt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>trangbtt.controllers.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>trangbtt.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>trangbtt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>trangbtt.controllers.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>trangbtt.controllers.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>trangbtt.controllers.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>trangbtt.controllers.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>trangbtt.controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfAdminController</servlet-name>
        <servlet-class>trangbtt.controllers.ListOfAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>trangbtt.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalController</servlet-name>
        <servlet-class>trangbtt.controllers.ApprovalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAdminController</servlet-name>
        <servlet-class>trangbtt.controllers.DetailAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchContentController</servlet-name>
        <servlet-class>trangbtt.controllers.SearchContentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfSearchCController</servlet-name>
        <servlet-class>trangbtt.controllers.ListOfSearchCController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTitleStatusController</servlet-name>
        <servlet-class>trangbtt.controllers.SearchTitleStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSearchContentController</servlet-name>
        <servlet-class>trangbtt.controllers.ListSearchContentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveController</servlet-name>
        <servlet-class>trangbtt.controllers.ActiveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadController</servlet-name>
        <servlet-class>trangbtt.controllers.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>trangbtt.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/PostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/CommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/ListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfAdminController</servlet-name>
        <url-pattern>/ListOfAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalController</servlet-name>
        <url-pattern>/ApprovalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAdminController</servlet-name>
        <url-pattern>/DetailAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchContentController</servlet-name>
        <url-pattern>/SearchContentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfSearchCController</servlet-name>
        <url-pattern>/ListOfSearchCController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTitleStatusController</servlet-name>
        <url-pattern>/SearchTitleStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSearchContentController</servlet-name>
        <url-pattern>/ListSearchContentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveController</servlet-name>
        <url-pattern>/ActiveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadController</servlet-name>
        <url-pattern>/LoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoadController</welcome-file>
    </welcome-file-list>
</web-app>
